//Option 1
$body-background: #2b2b2b;
$body-text-color: #bea95f;

$app-separator: #434343;
$code-text-color: #53759d;
$success-color: #7c9a51;
$error-color: lightcoral;
$button-color: lighten($body-background, 20%);
$line-number-color: lighten($body-background, 25%);
$highlight-line: #1f4085;

////Option 2
//$body-background: #fff;
//$body-text-color: #222;
//
//$app-separator: #434343;
//$code-text-color: #53759d;
//$success-color: #7c9a51;
//$error-color: lightcoral;
//$button-color: #ccc;
//$line-number-color: darken($body-background, 35%);
//$highlight-line: lightgrey;
