@import "./variable";
// Node modules
@import "~codemirror/lib/codemirror.css";
@import "./code-editor-override";
@import "./global";
@import "./header";

.registerTable {
  text-align: center;
  flex: 1;
}

.INSTClass {
  text-align: left;
  padding-left: 10px;
}

.stack-container {
  overflow: auto;
}

.stack {
  overflow: auto;
  margin: 0 5px;
  width: 100px;
}

.prints {
  overflow: scroll;
  max-height: 400px;
}

.examples {
  position: fixed;
  background: $body-background;
  left: -250px;
  top: 0;
  bottom: 0;
  width: 250px;
  z-index: 21;
  padding-top: 25px;
  transition: all 1s ease;
  &.active {
    left: 0;
  }
}

.actions {
  margin: 5px;
  display: flex;
  > button {
    flex: 1;
    border: 0;
    margin: 4px;
    padding: 10px;
    font-size: 15px;
    background: $button-color;
  }
}

.assembly-simulator-header,
.trace-table {
  grid-column-start: 1;
  grid-column-end: -1;
}

.lineToHighlight {
  background: $highlight-line;
}

.errorLine {
  background-color: $error-color;
}
