body {
    margin: 2% 0;
}

table {
    border-collapse: collapse;
}

table th {
    border: black solid 1px;
    height: 30px;
}

table td {
    border: black solid 1px;
    height: 30px;
    text-align: center;
}

.app {
    display: flex;
    flex-direction: row;
}

.INSTClass {
    text-align: left;
    padding-left: 10px;
}

.PRNClass {
    text-align: left;
    padding-left: 10px;
}

.codeSection {
    padding: 0 1%;
    display: flex;
    font-size: 150%;
    flex-direction: column;
}

.outputSection {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.prints {
    height: 150px;
    border: black 2px solid;
    overflow: scroll;
    padding-left: 10px;
}

.CodeMirror {
    height: auto;
    width: 200px;
}

.CodeMirror-scroll {
    overflow-y: hidden !important;
    overflow-x: auto !important;
}

.editor {
    font-size: 100%;
    border: 1px solid #eee;
}

.messageBox {
    color: red;
}

.registerTable {
    display: table;
    border: black solid 1px;
    margin: 2% 0;
}

.rowChanged {
    background: lightblue;
}
